ViewToolsProject.xcodeproj/project.xcworkspace/xcshareddata/ViewToolsProject.xccheckout
ViewToolsProject.xcodeproj/project.xcworkspace/xcuserdata/coodychou.xcuserdatad/UserInterfaceState.xcuserstate
ViewToolsProject.xcodeproj/xcuserdata/coodychou.xcuserdatad/xcschemes/ViewToolsProject.xcscheme
Breakpoints_v2.xcbkptlist

DerivedData/
*.xcworkspacedata
*.xcuserstate
*.xcyserdatad/
xcschemes/
